# Allowed Origins for the status endpoint
ALLOWED_ORIGINS=
# Encryption secret for data stored in the Database (Like API keys)
API_KEY_ENCRYPTION_SECRET=
# Client ID found in the Oauth page of the Discord Developer Portal
CLIENT_ID=
# Postgresql database URLs
DATABASE_URL=
# Openrouter API key for the default AI model
OPENROUTER_API_KEY=
# OpenWeather API key for the weather command
OPENWEATHER_API_KEY=
# For the status API, you may use $SOURCE_COMMIT with Coolify.
SOURCE_COMMIT=
# The API key going to be used for the status API
STATUS_API_KEY=
# The bot's token
TOKEN=